@import url('reset.css');

/* ---------- Hero-----------*/

.hero{
    /* max-width: 1440px; */
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/Class-hero.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: var(--font-cute);   
    line-height: 1.6;
    position: relative;
}

.hero h1{
    position: absolute;
    top: 37%;
    left: 3%;
    font-size: clamp(3rem, 7vw, 12rem);
    color: white;
    font-family: 'Caprasimo';
}

.hero h2{
    padding-top: 50px;
    padding-left: 60px;
    font-size: 3.2rem;
}
.hero p{
    font-size: 1.6rem;
    padding-left: 60px;
}

/* ---------- Class Core-----------*/

/* .class-core{
    max-width: 1440px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-body);   
    line-height: 1.6;
    
}
.class-core h1{
    font-size: 10rem;
    font-weight: bold;
}


.class-core span{
    color: var(--primary-color);
    font-size: 10rem;
}
.class-core h2{
    font-size: 3.6rem;
    text-align: center;
}

.class-bg{
    height: 100vh;
    background-image: url(../images/class-fixbg.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
} */

/* ---------- 課程核心 挑戰自己畫六角形----------*/
.hex-img-left,
.het-img-right{
    display: none;
}
.class-core{
    max-width: 1440px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-body);   
    line-height: 1.6;
    
}
.class-core h1{
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
}


.class-core span{
    color: var(--primary-color);
    font-size: 10rem;
}
.class-core h2{
    font-size: 3.6rem;
    text-align: center;
}

.hex-container{
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 左邊六角形 */
.hex-left-o{
    position: absolute;
    top: 15.5%;
    left: 5.5%;
    width: 450px;
    height: 400px;
    background-color: #0a1735;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hex-left-w{
    position: absolute;
    top: 20%;
    left: 8%;
    width: 400px;
    height: 350px;
    background-color: #F6F6F6;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hex-left{
    position: absolute;
    top: 29%;
    left: 13%;
    width: 300px;
    height: 250px;
    background-color: #0a1735;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex-left span{
    font-size: 5rem;
    color: #F6F6F6;
    font-weight: bold;
    letter-spacing: -3px;
}

/* 右邊的六角形 */
.hex-right-o{
    position: absolute;
    top: 15.5%;
    right: 5.5%;
    width: 450px;
    height: 400px;
    background-color: var(--primary-color);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hex-right-w{
    position: absolute;
    top: 20%;
    right: 8%;
    width: 400px;
    height: 350px;
    background-color: #F6F6F6;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hex-right{
    position: absolute;
    top: 29%;
    right: 13%;
    width: 300px;
    height: 250px;
    background-color: var(--primary-color);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex-right span{
    font-size: 5rem;
    color: #F6F6F6;
    font-weight: bold;
} 


.class-bg{
    height: 100vh;
    background-image: url(../images/class-fixbg.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* 中間的圓形 */

.circle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    background-color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.circle-left{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    background-color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
      
}
.circle-right{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #2f7d31;
    color: #2f7d31;;
    background-color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.label1 { top: 9%; left: 12%; }
.label2 { top: 41%; left: 1%; }
.label3 { bottom: 8%; left: 11%; }
.label4 { bottom: 8%; left: 34%; }
.label5 { top: 9%; left: 35%; }
.label6 { top: 9%; right: 34%; }
.label7 { top: 9%; right: 11%; }
.label8 { top: 41%; right: 1%; }
.label9 { bottom: 8%; right: 34%; }
.label10 { bottom: 8%; right: 11%; }



/* ---------- 課程介紹-----------*/

.class-intro{
    /* max-width: 1440px; */
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    padding: 10px;
    /* border: 1px solid red; */
}


.class-intro-content{
    width: auto;
    height: auto; 
    background-color: #F6F6F6;
    border-radius: 80px;
    justify-content: center;
    margin: 60px 100px;
    box-shadow: 0 4px 20px rgba(0,0,0,25%);
}

.class-intro-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 1.6;
}
.class-intro-left{
    flex: 1.2;
    padding-left: 40px;
}
.class-intro-right{  
    padding-right: 40px;

}


.class-intro-item h3{
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 8px 0;
}
.class-intro-item img{
    width: 28vw;
    height: 100%;
    margin: 20px;
}

.class-intro-text p{
    font-size: 2rem;
}
.class-intro-right{
    margin-top: 8px;
}

.class-intro-content-O{
    width: auto;
    height: auto; 
    background-color: var(--primary-color);
    border-radius: 80px;
    justify-content: center;
    margin: 60px 100px;
    box-shadow: 0 4px 20px rgba(0,0,0,25%);
}

.class-intro-right-O{
    padding-right: 40px;
    
}
.class-intro-left-O{
    flex: 1.2;
    padding-left: 40px;

}
.class-intro-left-O img{
    width: 28vw;
    height: 100%;
    margin: 20px;

}

.class-intro-right-O h3{
    color: var(--bg-color);
}

.class-intro-right-O p{
    color: var(--bg-color);
}


@media screen and (max-width: 1120px) {

    /* .class-intro-item img{
        width: 250px;
    }
    .class-intro-item img{
        width: 250px;
    } */


}
