@import url('reset.css');


/* ---------- Hero-----------*/

.hero{
    max-width: 1440px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    background-image: url(../images/contact-hero.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: var(--font-cute);   
    line-height: 1.6;
}

.hero h1{
    font-size: 12rem;
    color: var(--primary-color);
    padding-top: 137px;
    padding-left: 137px;
    font-family: 'Caprasimo';
}

/* ---------- Contact-----------*/
.main{
    max-width: 1440px;
}
/* ----------按鈕---------- */
main{
    /* border: 1px solid red;  */
    width: 100%;
    max-width: 700px;
    margin: 48px auto;
    font-size: 2.6rem;
    line-height: 1.6;
}

/* 取消前面的點選樣式 */
.tab-radio{
    display: none;
}

.top-tab{
    display: flex;
    width: 700px;
    background: #F6F6F6;
    border-radius: 48px;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--font-cute);
    transition: 0.2s;
}


label[for="tab1"], label[for="tab2"]{
    display: inline-block;
    width: 50%;
    text-align: center;
    line-height: 3.2;
    border-radius: 28px;

}

/* 選到的那個會變色 */
#tab1:checked ~ .top-tab label[for="tab1"]{
    background: var(--primary-color);
    color: var(--bg-color);
    z-index: 3;
  }
#tab2:checked ~ .top-tab label[for="tab2"] {
    background: var(--primary-color);
    color: var(--bg-color);
    z-index: 3;
}
  /* 讓沒被選的另一個tab變回灰色 */
  /* 當tab1被選到時，找到input裡的lable的tab2， 把它變回灰色 */
#tab1:checked + label[for="tab1"] + input + label[for="tab2"] {
    background: #F6F6F6;
    color: #B0B0B0;
}
#tab2:checked + label[for="tab2"] {
    background: var(--primary-color);
    color: var(--bg-color);
}

.tab-content{
    padding: 32px 24px;
    min-height: 200px;
    margin-top: -8px;
    position: relative;
}
.tab-page{
    text-align: center;
}

.tab-page { display: none; }
#tab1:checked ~ .tab-content #page1,
#tab2:checked ~ .tab-content #page2 {
  display: block;
}

.form-row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
}

.contact-form dl{
    width: 100%;
}

.contact-form{
    width: 100%;
    font-family: var(--font-body);
    font-size: 2rem;
    color: var(--text-color);
    margin: 20px auto;
    /* border: 1px solid red; */
}


.contact-form dt{
    width: 150px;
    padding-top: 12px;
    line-height: 1.6;
    /* border: 1px solid green; */
    text-align: left;
}

.contact-form dd{
    flex: 1;
    display: flex;
    padding-top: 12px;
    padding-left: 50px;
    align-items: center;
    gap: 12px;
    /* border: 1px solid blue; */

}
.contact-form dl{
    margin: 24px auto;
}
.contact-form p{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"] {
  width: 320px;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

.contact-form input[type="radio"] {
    margin-right: 6px;
  }
.contact-form label {
    margin-right: 24px;
    color: #444;
    cursor: pointer;
  }

.btn{
    display: block;
    width: 220px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    transition:transform 0.15s cubic-bezier(.33,1.5,.68,1);
    margin: 8px auto;
    border: none;
}


.btn:after{
    content: "";
    position: absolute;
    left: 60px;
    right: 60px;
    bottom: 6px;
    height: 1px;
    background: var(--bg-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.36s cubic-bezier(.77,0,.18,1);
    pointer-events: none;
    transform-origin: left; 
}

.btn:hover::after,
.btn:focus-visible::after {
  transform: scaleX(1);
}


.line-button img {
    display: block;
    margin: 12px auto;
}