@import url('reset.css');

.wrapper{
    width: 100%;
    /* min-width: var(--page-width); */
    height: 536px;
    background-color: var(--footer-color);
    color: white;
    padding: 48px 24px;
}

.footer-inner{
    width: 100%;
    /* max-width: var(--page-width); */
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.footer-left{
    max-width: 420px;
    height: 240px;
    margin-top: 40px;
    
}
.footer-left p{
    line-height: 2;
    font-size: 16px;
    margin: 10px 0;
}
.footer-icon i{
    font-size: 1.8rem;
    margin-right: 5px;
    cursor: pointer;
}

.footer-right{
    margin-top: 40px;
    font-size: 1.8rem;
    width: 600px;
    height: 240px;
}
.footer-right p{
    margin-bottom: 10px;
}
.footer-right iframe{
    width: 100%;
    height: 220px;
}

.footer-bottom{
    text-align: center;
    margin-top: 20px;
}

.footer-bottom img{
    max-width: 800px;
    width: 100%;
    /* min-width: 300px; */
    height: auto;
}


@media screen and (max-width: 1089px){
    .footer-left p{
        font-size: 14px;
        line-height: 1.2;
    }
    
    .footer-inner{
        gap: 50px;
    }

}

@media screen and (max-width: 728px) {
    .footer-right{
        width: 80%;
        height: auto;
    }
    .footer-left a img{
        width: 90%;
    }
    .footer-left p{
        font-size:10px;
        line-height: 1.2;
    }
    .footer-inner{
        gap: 10px;
        height: 200px;
    }
    .footer-icon i{
        font-size: 1rem;
    }
    .footer-right iframe{
        height: 130px;
    }
    .wrapper{
        height: auto;
        padding: 1px 15px;
    }

}

/* 
@media screen and (max-width: 430px) {
    .footer-right{
        width: 80%;
        height: auto;
    }
    .footer-left a img{
        width: 90%;
    }
    .footer-left p{
        font-size:10px;
        line-height: 1.2;
    }
    .footer-inner{
        gap: 10px;
        height: 200px;
    }
    .footer-icon i{
        font-size: 1rem;
    }
    .footer-right iframe{
        height: 130px;
    }
    .wrapper{
        height: auto;
        padding: 1px 15px;
    }
} */