@import url('reset.css');

.nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999; 
    box-shadow: 0 2px 12px rgba(0,0,0,0.09);
    background-color: rgba(255,255,255,0.6); 
    backdrop-filter: blur(8px);             
    transition: background-color 0.3s, box-shadow 0.3s, backdrop-filter 0.3s;
}

.nav-inner {
    max-width: var(--page-width);        
    width: 100%;   
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: transform 0.4s, padding 0.4s;
    padding: 20px 36px;        
    /* transform: scale(1.08);     */
}

.logo img{
    height: 50px;
    transition: height 0.3s;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}
  
.main-menu{
    display: flex;
    justify-content: flex-end; /*nav要靠右*/
    margin-left: auto;

}
.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li a{
    display: inline-block;
    text-decoration: none;
    line-height: 1.6;
    color: var(--footer-color);
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: var(--font-nav);
    transition: transform 0.3s ease;
}

.nav.scrolled{
    background-color: var(--footer-color);
    box-shadow: 0 2px 12px rgba(0,0,0,0.09);
}

.nav, .nav.scrolled {
    transition: background-color 0.3s, box-shadow 0.3s;
}
.nav.scrolled .nav-inner{
    transform: scale(1);  
    padding: 10px 10px;
}
.nav.scrolled .nav-list li a {
    color: var(--bg-color);
}

.nav.scrolled .sub-menu li a {
    color: var(--text-color);
}
.nav.scrolled .logo img {
    height: 40px;
}

.nav.scrolled .sub-menu li a:hover{
    color: var(--bg-color);
}

.nav-list li a:hover{
    transform: translateY(-3px);
}

.sub-list{
    position: relative;
    width: 160px;
    text-align: center;
    line-height: 1.6;
}
.sub-menu{
    display: none;
    list-style: none;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    margin-top: 1px; /* 不要跟header重疊，所以用margin往下堆*/
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 1000;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.sub-menu li a{
    display: block;
    color: var(--text-color);
    text-align:center;
    border-radius: 4px;
    padding: 10px;
    /*動畫速度從 慢 → 快 → 慢*/
    transition: color 0.3s ease ;
}


.login img{
    width: 24px;
    height: auto;
    margin-left: 10px;
}
.sub-list:hover .sub-menu{
    display: block;
}

.sub-menu li a:hover{
    background:var(--navlist-color);
    backdrop-filter: blur(12px);
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transform: scale(1.05);
    border-radius: 6px;
}
.hamburger {
    display: none;
}

.menu-overlay{
    display: none;
}


/* 漢堡BTN */
.hamburger{
    display: none;
    cursor: pointer;
    margin-right: 30px;
}

.bar {
    width: 36px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin: 6px 0px;
    transition: .3s ease;
}
.hamburger.active .bar1{transform: rotate(-45deg) translate(-6px, 7px);}
.hamburger.active .bar2{opacity: 0;}
.hamburger.active .bar3{transform: rotate(45deg) translate(-8px, -8px);}

.menu-overlay{
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    transition: right 0.4s ease;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.mobile-menu {
    width: 60%;
    height: 100vh;
    background:linear-gradient(90deg, rgba(255,123,40,1) 0%, rgba(253,229,121,1) 100%)
    ;
}
.mobile-menu ul{
    list-style: none;
}
.mobile-menu li{
    padding: 12px 22px;
}
.sub-menu-class {
    padding-left: 10px;
    margin-top: 8px;
  }
.sub-menu-class li{
    padding-top: 10px
  }
.sub-menu-class li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--footer-color);
}
.mobile-menu a{
    text-decoration: none;
    font-family: var(--font-nav);
    font-size: 1.8rem;
    color: var(--bg-color);
    font-weight: 900;
} 
.menu-overlay.open{
    right: 0;
}

@media screen and (min-width: 1024px) {
    .nav-inner {
        transform: scale(1.08);
    }
}

@media screen and (max-width: 1180px) {
    .login img{
        margin-right: 12px;
    }
    .logo img{
        margin-left: 12px;
    }

}

@media screen and (max-width: 728px) {
    .main-menu,
    .login {
        display: none;
  }
    .nav{
        background-color: var(--footer-color);
        backdrop-filter: blur(10px);
        position: sticky;
        top: 0;

  }
    .nav-inner{
        transform: scale(1);  
        padding: 10px 10px;
    }

    .logo img {
        height: 40px;
        content: url("../images/logo-white.svg");
  }

    .hamburger {
         display: flex;
}

}
