@media screen and (max-width: 1180px) {
    .banner-text h1{
        font-size: 8rem;
    }

    .banner-text h2{
        font-size: 4.2rem;
    }
    
    .core{
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 1089px){
    .class-intro-left{
        margin-left: 20px;
        height: auto;
        width: auto;
    }
    .class-intro-no{
        margin-left: 10px;
    }
    .class-intro-content{
        max-height: none;
    }
    .brand-left{
        font-size: 1.8rem;
        margin-left: 40px;
    }


    .class-intro li:hover{
        max-height: none;
    }


    .class-intro li{
        flex-wrap:nowrap;
        height: auto;
        overflow: visible;
        max-height: none !important;
        justify-content: start;
    }
    .class-intro li:hover .class-intro-content,
    .class-intro li:hover .class-intro-r {
        max-height: none;
    }
    .class-intro-r{
        max-height: none;
        opacity: 1;
        margin-right: 20px;
    }
    .class-intro-content{
        opacity: 1;
        margin-left: 65px;
        width: 80%;
    }

    .class-intro-title-e{
        display: none;
    }
    .class-intro-left{
        width: 60%;
    }

 
    .brand-bg{
        display: none;
    }
    .brand-img img{
        display: block;
        width: 100%;
        height: auto;
    }
    .brand-img{
        border-top: 40px solid var(--primary-color);
        border-right: 40px solid var(--primary-color);
        border-bottom: 40px solid var(--primary-color);
        border-radius: 12px ;
        width: fit-content;
        margin: 0 auto;
    }
    .brand-right{
        height: auto;
    }
    .brand-left{
        padding: 0;
    }

}


@media screen and (max-width: 820px) {
	
	
    .banner-text h1{
        font-size: 6rem;
    }

    .banner-text h2{
        font-size: 3.6rem;
    }
    .banner-text p{
        font-size: 1.6rem;
    }

   
    .core-title h1{
        font-size: 3.6rem;
    }
    .banner-text{
        margin-left: 20px;
    }
    .brand-left{
        font-size: 1.6rem;
        flex: 1;
    }

    .brand-right{
        flex: 1;

    }
    .brand-bg{
        top: 52px;
        left: -7px;
        width: 380px;
        height: 430px;
    }
    .brand-img img{
        width: 300px;
    }
    .brand-img{
        border-top: 30px solid var(--primary-color);
        border-right: 30px solid var(--primary-color);
        border-bottom: 30px solid var(--primary-color);
        border-radius: 12px ;
    }
 
    .class-intro-title{
        font-size: 2.4rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 728px) {
    .brand-right{
        margin-right:-21px;
    }
    .brand-img img{
        width: 250px;
    }
    .brand-left{
        font-size: 14px;
    }

    .core-title{
        height: auto;
    }
    .coach-left img{
        width: 80%;
        height: auto;
    }
    .coach-left{
        text-align: center;
    }

    .coach-right{
        margin: 0 20px;
    }

    .coach-right h1{
        font-size: 2.6rem;
    }
    .coach-right h2{
        font-size: 2.4rem;
    }
    .coach-right p{
        font-size: 1.6rem;
    }

}



@media screen and (max-width: 430px) {

    .banner{
        height: 250px;
        margin-top: 60px;
    }
    .banner-text{
        height: auto;
    }

    .banner-text h1{
        font-size: 2.4rem;
    }
    .banner-text h2{
        font-size: 1.8rem;
    }
    .banner-text p{
        font-size: 1.2rem;
        line-height:1.2;
    }

    .banner-text a{
        font-size: 1.2rem;
        margin:12px;
    }
    .btn-booking i{
        font-size: 1.2rem;
    }
    .btn-booking{
        padding: 5px 7px;
        border-radius:4px;
    }
    .brand{
        flex-direction: column;
        margin: 20px atuo;
        gap: 20px;

    }
    .brand-left{
        width: 100%;
        text-align: center;
    }
    .google-comment{
        display: none;
    }
    .core-title{
        height: auto;
    }
    .core-title h1{
        font-size: 3.2rem;
    }
    .core li{
        height:200px
    }
    .core li h2{
        font-size: 2.4rem;
        padding:10px;
    }

    .coach{
        margin-bottom:0;
    }

    .core-title{
        padding: 20px 118px 20px 20px;
    }
    .class-intro-title{
        font-size: 1.8rem;
    }
    .class-intro-content{
        font-size: 1.2rem;
    }
    .class-intro-title h4{
        padding-left:16px;
    }
    .class-intro-no{
        font-size: 1.2rem;
    }
    .class-intro-content{
        margin-left:40px;
    }
    
    .coach-right h1{
        font-size: 2.2rem;
    }
    .coach-right h2{
        font-size: 1.8rem;
    }
    .coach-right p{
        font-size: 1.2rem;
    }
    
 
}
