@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
    box-sizing: border-box;
    max-width: 1440px;


}
/* ---------- Hero-----------*/

.hero{
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    background-image: url(../images/Class-1對2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

/* ---------- 課程介紹-----------*/

.class-intro{
    font-family: var(--font-body);
    line-height: 1.6;
    display: flex;
    margin: 0 auto;
    align-items: center;
    min-height: 300px;
    position: relative;
}

.class-title-bg {
    position: absolute;
    font-size: 8rem;
    font-family: 'Caprasimo';
    color: #F6F6F6;  
    z-index: 1;
    right: 0;
    top: 120px;
    white-space: nowrap;
    pointer-events: none;
  }


.class-intro-right{
    flex: 2;
    position: relative;
}
.class-intro-left{
    flex: 1.5;
    z-index: 2;
    padding-left: 80px;
}
.class-intro-right h1{
    font-size: 8rem;
    font-weight: bold;
    color: var(--primary-color);
    position: relative;
    z-index: 2;
    text-align: right;
    padding-right: 60px;
}


.class-intro-left h3{
    font-size: 2.2rem;
    font-weight: bold;
    padding-left: 60px;
}
.class-intro-left p{
    font-size: 2.2rem;
    padding-left: 60px;
}



/* ---------- 課程內容 -----------*/

.classInner{
    max-width: 1440px;
    width: 100%;
    background-color: var(--bg-color);
    padding-top: 40px;
    margin-bottom: 24px;
}



.classList{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: var(--page-width);
    margin: 0 auto;
    /* border: 1px solid red; */
}

.classContent{
    width: 800px;
    height: 200px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    /* font-size: 1.6rem; */
    border-radius: 20px;
    padding: 24px 60px;
    /* line-height: 1.6; */
    /* font-family: var(--font-body); */
    position: relative;
}

.section-number{
    position: absolute;
    top: 24px;
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}
.classContent.left .section-number {
    left: 12px;
    color: var(--bg-color);
}
.classContent.right .section-number {
    text-align: right;
    right: 28px;
    color: var(--primary-color);
    
}

.classContent.left{
    align-self: flex-start;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.classContent.right{
    align-self: flex-end;
    background-color: #F6F6F6;
    color: var(--text-color);
}

.classContent.left .classText{
    padding-left: 92px;
}
.classText{
    font-family: var(--font-body);
    line-height: 1.6;
}

.classText h3{
    font-size: 2.2rem;
    padding-bottom: 8px;
}
.classText p{
    font-size: 1.8rem;
    display: inline-flex;   /* 讓第二排繞過icon，對齊上方文字 */
    align-items: flex-start;
    gap: 4px;
}

.classText p::before {
    content:'lightbulb';
    font-family: 'Material Symbols Outlined';
    font-size: 2rem;
    color: var(--bg-color);
    margin-right: 8px;
    vertical-align: middle;
  }
  .classContent.right .classText p::before {
    content: 'arrow_forward';
    color: var(--primary-color); 
  }