@import url('reset.css');

body{
    color:var(--text-color);
    background-color: var(--bg-color);
}
/* ---------- Banner 主視覺區 -----------*/
.banner{
    background-image: url(../images/banner-h.png);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* padding-left: 8%; */
}

.banner-text{
    width: auto;
    height: 500px;   
    text-align: center;
    margin-left: 60px;
}
.banner-text h1{
    font-size: 12rem;
    margin-bottom: 10px;
    font-family: var(--font-body);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.banner-text h2{
    font-size: 5.2rem;
    font-family: 'Roboto';
    font-weight: bold;
    /* 文字漸層色效果 */
    background: var(--topic-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 1.5;
}

.banner-text p{
    font-size: 2.2rem;
    line-height: 2;
    text-align: center;

}
.banner-text a{
   text-decoration: none;
   margin-top: 24px;
   font-size: 2rem;

}
.btn-booking{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    /* background: linear-gradient(135deg, #EF6000 50%, #e8914a 50%);     */
    color: white;
    border-radius: 6px;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;
    background: #000;

}
.btn-booking span{
    position: relative;
    z-index: 2; /*讓文字永遠在最上層*/
    display: inline-block;
    align-items: center;
}
.btn-booking i{
    margin-left: 10px;
    line-height: 1.2;
    font-size: 1.6rem;
    position: relative;
    z-index: 2;
  /* transition: background 0.3s ease; */

}
.btn-booking:hover {
    /* background: var(--text-color); */

}


/* 用偽元素分別建立2個一樣的按鈕 */
.btn-booking::before,
.btn-booking::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #EF6000 50%, #e8914a 50%);
  z-index: 0;
  transition: transform .3s ease;
}

/*一個往左滑*/
.btn-booking::before {
  left: 0;
  transform: translateX(-100%);
}
/*一個往右滑*/
.btn-booking::after {
  right: 0;
  transform: translateX(100%);
}

/* 滑鼠移開 → 漸層從兩側滑入 */
.btn-booking:not(:hover)::before,
.btn-booking:not(:hover)::after {
  transform: translateX(0);
}


/* ---------- 核心文案區 -----------*/
.core{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    font-family: var(--font-cute);
    padding-bottom: 40px;
}

.core-title{
    color: var(--secondary-color);
    font-size: 4.6rem;
    max-width: var(--page-width);
    height: 100px;
    padding: 24px;

}

.core-title h1{
    line-height: 46px;
}
.core-title-mobile{
    display: none;
}
.core ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
}
.core li{
    flex:1 1 280px;
    max-width: 360px;
    height: 280px;
    border: 1px solid #FCEF91;
    text-align: center;
    color: var(--bg-color);
    margin: 0 auto;
    padding: 10px;
}

.core li h2{
    font-size: 3.8rem;
    line-height: 1.2;
    padding: 30px;
    
}
.core li p{
    font-size: 1.6rem;
    padding: 5px;
    line-height: 1.5;
    margin-top: 10px;
}

/* ---------- Main 課程區 -----------*/

.class-intro{
    width: 100%;
    max-width: var(--page-width);
    /* display: flex; */
    margin: 0 auto;
}
.class-intro ul{
    width: 100%;
    margin: 0 auto;
}

.class-intro li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: var(--page-width);
    height: auto;
    max-height: 100px;
    margin: 10px auto;
    transition: max-height 0.5s ease padding 0.5s ease;;
    overflow: hidden;
    border-bottom: 1px solid gray;
}
/* Hover展開 */
.class-intro li:hover {
    max-height: 500px;
    padding-bottom: 20px;
  }
  
  /* 內容區（左） */
.class-intro-left{
    width: 800px;
    height: 100px;
    margin-left: 80px;
}
/* 標題（中文） */
.class-intro-title{
    display: flex;
    align-items: center;
}

.class-intro-no{
    font-size: 1.6rem;
    font-family: var(--font-cute);
    margin-left: 30px;
}
.class-intro-title h4{
    font-size: 3.6rem;
    color: var(--text-color);
    padding-left: 40px;
    display: flex;

}
/* 標題（英文） */
.class-intro-title-e{
    font-size: 2.2rem;
    color: #d2d2d2;
    font-family: var(--font-body);
    line-height: 1.6;
    padding-left: 80px;
}
.class-intro-content{
    width: 600px;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-color);
    transition: all 0.5s ease;
    opacity: 0;
    max-height: 0;
}


  /* 圖片（右） */
.class-intro-r{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease;
    margin: 5px 0;
}

.class-intro-r img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;   
}

.class-intro-r img:first-child{
    height: 200px
}

.class-intro li:hover .class-intro-content,
.class-intro li:hover .class-intro-r {
  opacity: 1;
  max-height: 400px;
}


/* ---------- 品牌理念區 -----------*/
.brand{
    width: 100%;
    max-width: var(--page-width);
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    line-height: 1.6;
    gap: 50px;
}

.brand-left{
    width: 50%;
    margin-left: 20px;
    padding: 20px;
    font-size: 2.2rem;
    color: black;
}

.brand-bold{
    font-weight: bold;
}

.brand-main{
    background: var(--topic-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-right{
    width: 50%;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.brand-bg{
    display: block;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 460px;
    height: 550px;
    background-color:var(--primary-color);
    border-radius: 12px;
    z-index: 0;
}
.brand-img{
    transform: translateX(-30px);
    z-index: 1;
}
.brand-img img{
    width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* ---------- 教練介紹 -----------*/

.coach{
    width: 100%;
    flex-wrap: wrap;
    max-width: var(--page-width);
    /* height: 600px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/coach-bg.png);
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.coach-left img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 999px;
}

.coach-right{
    /* width: 100%; */
    color: var(--text-color);
    font-family: var(--font-body);
    margin-left: 60px;
}

.coach-right h1{
    font-size: 4.6rem;
    margin-bottom: 20px;
}
.coach-right h2{
    font-size: 2.8rem;
    font-weight: bold;;
    margin-bottom: 20px;
}

.coach-right p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* ---------- Google評價區-----------*/
.google-comment{
    max-width: var(--page-width);
    height: auto;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}

.google-comment-title{
    /* display: block; */
    text-align: center;
}
.google-comment-title h1{
    font-size: 3.8rem;
    font-family: var(--font-cute);
    font-weight: bold;
    padding: 20px;
}

.google-comment-inner{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 12px 24px;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.bubble:nth-child(1),
.bubble:nth-child(5){
    grid-column: 1 / 4;
    width: 280px;
    height: 70px;
    background-color:  #f0f0f0;
    border-radius: 60px;
    padding: 12px;
}

.bubble:nth-child(3){
    justify-self: end;
}

.bubble:nth-child(4),
.bubble:nth-child(8){
    grid-column: 2 / 5;
    width: 280px;
    height: 70px;
    background-color:  #f0f0f0;
    border-radius: 60px;
    padding: 12px;
}


.bubble{
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0 auto;
    position: relative;
}
.bubble img{
    width: 60px;
    height: 60px;
}
.bubble p{
    font-size: 1.6rem;

}

/* 用偽元素做氣泡尾巴 */
.bubble:nth-child(1)::after{
    content: '';
    position: absolute;
    left: 32px; 
    bottom: -12px; 
    width: 0;
    height: 0;
    border-width: 0 14px 14px 14px;
    border-style: solid;
    border-color: transparent transparent transparent #f0f0f0;
}
.bubble:nth-child(5)::after{
    content: '';
    position: absolute;
    left: 32px; 
    bottom: -12px; 
    width: 0;
    height: 0;
    border-width: 0 14px 14px 14px;
    border-style: solid;
    border-color: transparent transparent transparent #f0f0f0;
}
.bubble:nth-child(4)::before{
    content: '';
    position: absolute;
    right: 50px;  
    top: -26px; 
    width: 0;
    height: 0;
    border-width: 14px 0 14px 14px;
    border-style: solid;
    border-color: transparent transparent #f0f0f0 transparent;
}
.bubble:nth-child(8)::before{
    content: '';
    position: absolute;
    right: 50px;  
    top: -26px; 
    width: 0;
    height: 0;
    border-width: 14px 0 14px 14px;
    border-style: solid;
    border-color: transparent transparent #f0f0f0 transparent;
}

/* 
.google-comment-inner{
    display: flex;
    justify-self: center;
    gap: 80px;
    margin: 10px auto;
    border: 1px solid rebeccapurple;

}


.google-comment-left,
.google-comment-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    border: 1px solid red;
}



.bubble-left,
.bubble-right{
    background-color: #f0f0f0;
    border-radius: 60px;
    width: 400px;
    height: 100px;
    padding: 12px 25px;
    line-height: 2;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.8rem;
}


.comment-pic img{
    width: 60px;
    height: 60px;

} */

/* ---------- 小健雞計算器-----------*/

#chick-icon{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: bounce 2s infinite ease-in-out;
    transform-origin: bottom center;
    z-index: 9999;
}


@keyframes bounce {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    25% {
      transform: translateY(-10px) rotate(-10deg);
    }
    50% {
      transform: translateY(-20px) rotate(10deg);
    }
    75% {
      transform: translateY(-10px) rotate(-10deg);
    }
  }
.gender-group{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.gender-group input[type="radio"] {
    display: none;
}
.gender-group label{
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    background: white;
    color: var(--footer-color);
    padding: 10px 20px;
}
.gender-group input[type="radio"]:checked + label {
    background: var(--secondary-color);
    color: #00A6FF;
    border-color: #255edd;
    font-weight: bold;
}
.form-group p{
    margin-bottom: 8px;
}
#fitness-form{
    font-size: 1.6rem;
}
.form-group{
    display: block;
    margin-top: 16px;
}
#fitness-chick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none;
    overflow-y: auto;
    padding: 20px;
}

#fitness-chick.active{
    display: flex;
}

.chick-content{
    background: #00A6FF;
    border-radius: 12px;
    text-align: left;
    width: 400px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    color: var(--footer-color);
    position: relative;
    font-size: 1.6rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.4rem;
    cursor: pointer;
    color: var(--primary-color);
}

.close-btn:hover {
    color: var(--footer-color);
}

.chick-content h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 8px;
    color: #FCEF91;
}

#calculate{
    border: 0;
    display: block;
    margin: 16px auto;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 10px 20px;
    cursor: pointer;
}

#calculate:hover{
    background: var(--secondary-color);
    color: #00A6FF;
    font-weight: bold;;
}

.results p{
    margin: 8px 0;
}
.results p.error{
    color: red;
    font-size: 1.6rem;
    margin-top: 4px;
}

.error-message{
    color: red;
    font-size: 1.4rem;
    margin-top: 4px;
}

.chick-content input{
    width: 100%;
    margin-top: 6px;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 4px;
    border: 1px solid #ccc;
}

.form-activity{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}
.form-activity label{
    display: flex;
    /* flex: 1 1 calc(50% - 8px); */
    gap: 8px;
    margin-bottom: 8px;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
}

.result-value {
    display: inline-block;
    background: #fff;
    color: var(--footer-color);
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }

.fitness-quote{
    font-size: 2rem;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
    color: var(--secondary-color); 
    /* text-shadow: 1px 1px 3px black; */
}

.result-line{
    display: none;
    border: none;  /*清除預設實線*/
    margin-top: 12px;
    font-size:1.8rem;
    border-top: 1px dashed rgba(255,255,255,0.5);
}